*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("download.png");
  background-size: stretch;
 
}

.logo img{
  width: 300px;
  margin:  80px 0px 0px 130px;
}

.icons{
  margin: 100px 0px 0px 130px;
}

.iconic{
  color:darkred; 
  font-size: 50px;
  border-top:2px solid black;
  border-bottom:2px solid black;
  margin: 0px 40px 0px  0px;
  padding: 10px 0px 10px 0px ;
}

.body-text{
  margin: 0px 0px 0px 130px;
}

.body-text h4{
  font-size: 20px;
  color: #F0F0F0;

}

.we-provide{
  margin: 30px 0px 0px 0px;
  color: crimson;
  font-size: 40px;
}

.prices-on{
  font-size: 35px;
  margin: 5px 0px;
}

.products{
  font-size: 30px;
  margin: 0px 0px 20px 0px;
}

.images{
  position: absolute;
  left: 790px;
  top: 180px;
}

.images img{
  width: 370px;
}

.button-div{
  margin: 50px 0px 0px 130px;
} 

.button-div button{
  margin: 0px 5px 0px 0px ;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.search{
  margin: 50px 0px 0px 130px;
  width:600px;
}

.search input[type=text]{
  width: 350px;
  height: 45px;
  padding-left: 10px;
  border-color: #301934;
  border-width: thin;
}

 ::placeholder{
  color: #F0F0F0;
  font-size: 17px;
  font-weight: 600;
}

.search-btn{
  border-style:ridge;
  border-color:#301934;
  border-width: thin;
  position: absolute;
  padding: 14px 10px 15px 10px ;
  color: #F0F0F0;
  border-radius: 3px;
}

hr{
  margin-top: 70px;
}

.footer-div{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}

.first-col{
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 130px;
}

.second-col{
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 600px;
}

.third-col{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 840px;
}

.first-col h4{
  color: crimson;
}

.second-col h4{
  color: crimson;
}

.third-col h4{
  color: crimson;
}






@media only screen and (max-width:700px){
  
  .logo{
    position: absolute;
    top: 20px;
    left:5px;
  }

  .logo img{
    width: 200px;
    margin: 30px 0px 0px 40px;
  }

  .icons{
    position: absolute;
    width: 150px;
    top: 10px;
    left: -35px;
  }

  .iconic{
    color:darkred; 
    font-size: 35px;
    border-top:2px solid black;
    border-bottom:2px solid black;
    margin: 30px 20px 30px 0px;
    padding: 10px 0px 10px 0px ;
  }
  

  
  .body-container{
    max-width: 392px;
    width: 392px;
  }


  .images img{
    display: none;
  }

  .first-col{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 20px;
    padding-top: 30px;
  }
  

  .second-col{
    display: none;
  }

  .third-col{
    position: absolute;
    top: 880px;
    left: 300px;
  }

  .button-div{
    width: 392px;
    margin: 50px 0px 0px 20px;
  }
  
  .cls{
    border-color: black;
    color: black;
    
  }

  .search{
    margin: 50px 0px 0px 20px;
    width:370px;
  }

  .search input[type=text]{
    width: 250px;
  }

  ::placeholder{
    color: #F0F0F0;
    font-size: 13px;
    font-weight: 500;
  }

  hr{
    width: 392px;
    margin-left: 10px;
  }
  .body-text{
    margin: 250px 0px 0px 20px;
  }

  .body-text h4{
    font-size: 15px;
  }
  

  .all-footer{
    width: 392px;
  }

  
  
































}